@page "/simplegrid"
@using Microsoft.AspNetCore.Components
@using RazorPagesWithBlazorComponentsDemo

@namespace RazorPagesWithBlazorComponentsDemo.Components
<h3>Simple Grid</h3>

<table class="table">
    <thead>
        <tr>
            <th>Thing</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Item 1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Item 2</td>
            <td>5</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>

@code {

}
